In [4]:
import pandas as pd
import numpy as np
import requests
import json
import ast
from pycoingecko import CoinGeckoAPI

df_doge = pd.read_json("DogeCoin.json")


df_doge["prices"] = df_doge["prices"].astype(str)
df_doge["market_caps"] = df_doge["market_caps"].astype(str)
df_doge["total_volumes"] = df_doge["total_volumes"].astype(str)

df_doge["unix_timestamp"] = df_doge["prices"].apply(lambda x: int(x.split(", ")[0][1:]))
df_doge["date"] = pd.to_datetime(df_doge["unix_timestamp"], unit="ms")
df_doge.head(10)

df_doge["prices"] = df_doge["prices"].apply(ast.literal_eval)
df_doge["market_caps"] = df_doge["market_caps"].apply(ast.literal_eval)
df_doge["total_volumes"] = df_doge["total_volumes"].apply(ast.literal_eval)

def remove_unix_timestamp(entry):
    return entry[1]

df_doge["prices"] = df_doge["prices"].apply(remove_unix_timestamp)
df_doge["market_caps"] = df_doge["market_caps"].apply(remove_unix_timestamp)
df_doge["total_volumes"] = df_doge["total_volumes"].apply(remove_unix_timestamp)

df_doge = df_doge.drop(columns=['unix_timestamp'])

pd.set_option('display.float_format', '{:.2f}'.format)
df_doge['year'] = df_doge['date'].dt.year
pd.options.display.float_format = '{:.15f}'.format
df_doge.head(10)

             prices             market_caps     total_volumes       date  year
0 0.000600000000000 3488670.000000000000000 0.000000000000000 2013-12-15  2013
1 0.000200000000000 1619159.000000000000000 0.000000000000000 2013-12-17  2013
2 0.000300000000000 2191987.000000000000000 0.000000000000000 2013-12-18  2013
3 0.000500000000000 4299422.000000000000000 0.000000000000000 2013-12-19  2013
4 0.001000000000000 9866232.000000000000000 0.000000000000000 2013-12-20  2013
5 0.000400000000000 4686300.000000000000000 0.000000000000000 2013-12-21  2013
6 0.000400000000000 4639566.000000000000000 0.000000000000000 2013-12-22  2013
7 0.000300000000000 4022744.000000000000000 0.000000000000000 2013-12-23  2013
8 0.000700000000000 9213651.000000000000000 0.000000000000000 2013-12-24  2013
9 0.000600000000000 7955874.000000000000000 0.000000000000000 2013-12-25  2013

In [5]:
archivo_csv = "DogeCoin_DF.csv"
df_doge.to_csv(archivo_csv, index=False)