In [2]:
import pandas as pd
import numpy as np
import requests
import json
import ast
from pycoingecko import CoinGeckoAPI

df_eth = pd.read_json("eth max.json")


df_eth["prices"] = df_eth["prices"].astype(str)
df_eth["market_caps"] = df_eth["market_caps"].astype(str)
df_eth["total_volumes"] = df_eth["total_volumes"].astype(str)

df_eth["unix_timestamp"] = df_eth["prices"].apply(lambda x: int(x.split(", ")[0][1:]))
df_eth["date"] = pd.to_datetime(df_eth["unix_timestamp"], unit="ms")
df_eth.head(10)

df_eth["prices"] = df_eth["prices"].apply(ast.literal_eval)
df_eth["market_caps"] = df_eth["market_caps"].apply(ast.literal_eval)
df_eth["total_volumes"] = df_eth["total_volumes"].apply(ast.literal_eval)

def remove_unix_timestamp(entry):
    return entry[1]

df_eth["prices"] = df_eth["prices"].apply(remove_unix_timestamp)
df_eth["market_caps"] = df_eth["market_caps"].apply(remove_unix_timestamp)
df_eth["total_volumes"] = df_eth["total_volumes"].apply(remove_unix_timestamp)

df_eth = df_eth.drop(columns=['unix_timestamp'])

pd.set_option('display.float_format', '{:.2f}'.format)
pd.options.display.float_format = '{:.15f}'.format
df_eth['year'] = df_eth['date'].dt.year
df_eth.head(10)

,prices,market_caps,total_volumes,date,year
0,2.831600000000000,0.000000000000000,90622.000000000000000,2015-08-07,2015
1,1.330800000000000,80339475.000000000000000,368070.000000000000000,2015-08-08,2015
2,0.687600000000000,41556309.211121760308743,400464.074543548922520,2015-08-10,2015
3,1.067400000000000,64539006.306272193789482,1518998.205337382154539,2015-08-11,2015
4,1.256600000000000,76013261.054154023528099,2073893.345031484495848,2015-08-12,2015
5,1.825400000000000,110468836.223889842629433,4380142.704000345431268,2015-08-13,2015
6,1.826000000000000,110555313.260253190994263,4355618.378552116453648,2015-08-14,2015
7,1.670900000000000,101215246.378106400370598,2519633.270818143617362,2015-08-15,2015
8,1.476600000000000,89480939.240250289440155,3032657.656405736226588,2015-08-16,2015
9,1.203900000000000,87313387.945479184389114,1880092.214717582333833,2015-08-17,2015

In [3]:
archivo_csv = "Ethereum_DF.csv"
df_eth.to_csv(archivo_csv, index=False)