In [1]:
import pandas as pd
import numpy as np
import requests
import json
import ast
from pycoingecko import CoinGeckoAPI

df_usdc = pd.read_json("usd-coin max.json")


df_usdc["prices"] = df_usdc["prices"].astype(str)
df_usdc["market_caps"] = df_usdc["market_caps"].astype(str)
df_usdc["total_volumes"] = df_usdc["total_volumes"].astype(str)

df_usdc["unix_timestamp"] = df_usdc["prices"].apply(lambda x: int(x.split(", ")[0][1:]))
df_usdc["date"] = pd.to_datetime(df_usdc["unix_timestamp"], unit="ms")
df_usdc.head(10)

df_usdc["prices"] = df_usdc["prices"].apply(ast.literal_eval)
df_usdc["market_caps"] = df_usdc["market_caps"].apply(ast.literal_eval)
df_usdc["total_volumes"] = df_usdc["total_volumes"].apply(ast.literal_eval)

def remove_unix_timestamp(entry):
    return entry[1]

df_usdc["prices"] = df_usdc["prices"].apply(remove_unix_timestamp)
df_usdc["market_caps"] = df_usdc["market_caps"].apply(remove_unix_timestamp)
df_usdc["total_volumes"] = df_usdc["total_volumes"].apply(remove_unix_timestamp)

df_usdc = df_usdc.drop(columns=['unix_timestamp'])

pd.set_option('display.float_format', '{:.2f}'.format)
pd.options.display.float_format = '{:.15f}'.format
df_usdc['year'] = df_usdc['date'].dt.year
df_usdc.head(10)

             prices       market_caps          total_volumes       date  year
0 1.006200000000000 0.000000000000000  31264.420429900204908 2018-10-05  2018
1 1.001500000000000 0.000000000000000  20254.712254909740295 2018-10-06  2018
2 1.001200000000000 0.000000000000000  49324.690669144089043 2018-10-07  2018
3 1.001900000000000 0.000000000000000  47076.728142294938152 2018-10-08  2018
4 1.002000000000000 0.000000000000000  55542.215509108318656 2018-10-09  2018
5 1.000600000000000 0.000000000000000  41812.502128607302438 2018-10-10  2018
6 0.997800000000000 0.000000000000000  48789.483685295075702 2018-10-11  2018
7 1.007700000000000 0.000000000000000 101593.975371897438890 2018-10-12  2018
8 1.008300000000000 0.000000000000000 185015.916135450883303 2018-10-13  2018
9 1.013700000000000 0.000000000000000 133806.380349005659809 2018-10-14  2018

In [ ]:
archivo_csv = "USDCoin_DF.csv"
df_usdc.to_csv(archivo_csv, index=False)